---json
{
  "permalink": "text/feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "ovl",
    "subtitle": "code, design & opinions",
    "url": "https://11ty.owlish.dev/",
    "feedUrl": "https://11ty.owlish.dev/feed.xml",
    "author": {
      "name": "Oscar Braunert",
      "email": "o@ovl.design"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ articles.lastUpdated }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in articles.ownPosts %}
  {% set absolutePostUrl %}{{ post.permalink | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <summary>{{ post.intro }}</summary>
    <content type="html">{{ post.content | md | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>