.site-nav {
  & > ul {
    align-items: center;
    display: flex;
  }

  & li + li {
    margin-left: 1em;
  }
}

.site-nav__item {
  /* needed for the transform to work */
  display: inline-block;
  text-decoration: none;
  transition: transform 0.2s ease-out;
  z-index: 1;

  &:hover,
  &:focus,
  &.-is-active {
    transform: skewY(-7deg);
  }

  &.-is-active {
    font-weight: bold;
  }
}
