.site-header {
  background-color: var(--clr-bg);
  border-bottom: 1px solid var(--clr-main-light);
  display: flex;
  flex-flow: row wrap;
  height: var(--layout-header-height);
  padding: 0.25rem 4vmin;
  position: sticky;
  top: 0;
  z-index: 100;

  & > * {
    display: flex;
  }
}

.site-header__logo {
  margin-right: 2rem;
  max-width: 100px;
}
