{% extends 'layouts/base.njk' %}

{% set title = post.title %}
{% set usesBlock = true %}

{% block content %}
  <main id="main" class="text" tabindex="-1">
    <header class="text__header u-floral-heart-gradient">
      <p class="type-is-aside">
        {{ post.categories[0].fields.title + '–' if post.categories else '' }}<time datetime="{{ post.date }}">{{ post.date | displayDate }}</time>
      </p>
      <h1 class="main-headline">{{ post.title }}</h1>
      {% if post.contentIntro %}
        <p class="text__intro">
          {{ post.contentIntro }}
        </p>
      {% endif %}
    </header>
    {% articleImage post.image %}
    <div class="text__body">
      {{ content | safe }}
    </div>
    <section role="section" class="pagination-navigation text__pagination" aria-labelledby="pgntn-hdln">
      <h2 id="pgntn-hdln" class="pagination-navigation__headline">Other things I’ve written</h2>
      {% paginationItem 'previous', pagination.href.previous, articles.ownPosts %}
      {% paginationItem 'next', pagination.href.next, articles.ownPosts %}
    </section>
  </main>
{% endblock %}