<header class="site-header">
  <img src="/img/logo/ovl-logo-bridge-main.svg" alt="ovl – code & design" class="site-header__logo" />

  {% set navClass = 'header-nav' %}
  {% include 'components/nav.njk' %}
</header>