<style>{{ css.footer | safe }}</style>
<footer class="site-footer">
  <section>
    My name is Oscar. I write <a href="/code">Code</a>. I design for web and print. I like owls. And this is my website.
  </section>
  <nav class="icon-nav" aria-label="Social profiles">
    {% socialNavIcons site.socialNavItems %}
  </nav>
  <nav class="footer-nav">
    <a href="/imprint">Imprint</a>
  </nav>
</footer>